ErrorDocument 404 404
RewriteEngine On
RewriteCond $1 !^(mesa|index\.php|robots\.txt|images|js|wiki|stylesheets|css|files)
RewriteRule ^(.*)$ /index.php/$1 [L]
AddType application/x-gzip txz
AddType text/plain md5
AddType text/plain sh
