* {
	padding: 0;
	margin: 0;
}

html {
	overflow-y: scroll;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	/*background: url(../images/dvd.gif) no-repeat fixed;*/
}

body a {
        text-decoration: none;
        /* color: #333; */
        /* font-weight: bold; */
}

body a:hover {
        text-decoration: underline;
        color: #000;
}

h2 {
	font-family: Times, Serif;
	font-weight: normal;
	font-size: 1.5em;
	color: #333;
	margin: 5px 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

p {
	/* color: #333; */
	margin: 5px 10px;
        font-size: 0.8em;
}
/* Page */
#page {
	width: 960px;
	background-color: rgba(255,255,255,0.8);
	/* margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border: 3px double #aaa;*/
	clear: both;
}

#header {
	margin: 10px 0px;
	text-align: center;
}

#footer {
	margin: 15px 30px;
	padding-top: 0px;
	text-align: center;
        color: #333;
        font-size: 0.6em;
        line-height:120%; 
}
/* Menu */
#navigation {
	text-align: center;
	margin: 5px 40px 10px 40px;
        padding-bottom: 10px;
        /* border-bottom: 1px solid #999; */
}

#navigation .menu {
	list-style: none outside none;
	display: inline-block;
	margin: 0px auto;
}
#navigation .menu li {
	display: inline-block;
	padding: 0px 5px;
	/* border-left: 1px solid #666; */
	text-align: center;
}

#navigation .menu li:first-child {
	/* border-left: none; */
}

#navigation .menu li a {
	font-weight: bold;
        font-family: Sans, arial, helvetica;
	text-decoration: none;
	color: #666;
        font-size: 0.8em;
}

#navigation .menu a:hover {
	color: #000;
}

/* Content */
#content {
	/* margin: 0px 40px;
	border-bottom: 1px solid #aaa; */
	padding: 0px 0;
}

.newsfeed {
	list-style: none outside none;
}

.newsfeed li {
	margin: 15px auto;
        line-height: 1.2em;
}

.newsfeed h3 {
	font-family: Times, serif;
        font-weight: normal;
	/*font-size: 1.2em;*/
	display: block;
	text-align: left;
	color: #333;
}

.newsfeed .date {
	font-family: Times, serif;
	font-size: 0.8em;
	font-style: italic;
	color: #999;
	display: block;
	text-align: right;
}

.listing {
	margin: 15px 0px 20px 0px;
	padding: 0px 0px 0px 0px;
        padding-bottom: 5px;
	list-style: none outside none;
        font-size: 0.8em;
        line-height: 1.2em;
        border-left: 1px solid #aaa;
        border-right: 1px solid #aaa;
        border-bottom: 1px solid #aaa; 
}

.listing .heading {
	padding: 5px 0px 5px 0px;
	margin-bottom: 5px;
	/* border-bottom: 1px solid #999; */
        font-size: 1em;
        background: #aaa;
}
.listing .name {
	display: inline-block;
        padding-left: 5px;
	text-decoration: none;
	font-weight: bold;
	color: #333;
	width: 55%;
        font-size: 1.2em;
        line-height: 1.4em;
}

.listing a.name:hover {
	text-decoration: underline;
}
.listing .size {
	display: inline-block;
	font-family: monospace;
	font-size: 0.9em;
	color: #333;
	width: 20%;
	text-align: right;
}

.listing .time {
	display: inline-block;
	font-family: monospace;
	font-size: 0.9em;
	color: #333;
	width: 22%;
	text-align: right;
}

.readme {
	white-space: pre-wrap;
        padding-bottom: 10px;
	font-size: 1em;
}
.warning {
	font-size: 1em;
	margin: 0px;
	padding: 0px 0px 10px;
	white-space: pre-wrap;
        line-height: 1.4em;
}
/* Column Classes */
.left-col {
	display: block;
	float: left;
	width: 49%;
	margin-left: 0px;
}

.right-col {
	display: block;
	float: right;
	width: 49%;
	margin-right: 0px;
}

.centre-col {
	display: block;
	padding: 5px 0px;
	margin: 0 auto;
}

/* Helper Classes */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.breadcrumbs {
/*    padding: 0 10px 5px 10px;*/
    padding-bottom: 10px;
}
.crumb a {
    font-size: 0.9em;
    color: #666;
}
